body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cell {
  border: 10px;
  border-style: groove;
  border-color: whitesmoke;

  height: 230px;
  width: 250px;
  font-size: 15px;
  text-decoration-color: aliceblue;
  margin-right: 20px;
  padding: 20px;
  
  margin-top: 50px;
  overflow-wrap: normal;

}
img{
  height: 100px;
  width: 210px;
  background-size: 100%;

}
img:hover{
  height: 150px;
  width: 250px;
}




.bg {
  
  background-image: url("./assets/bg2.jpg");
  padding: 5px;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.price{
  color: aliceblue;
}

.btn{
  background-color:black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}